<section class="section_block" style="margin-top:10px;">
  <div class="container">
    
    <div class="col-md-12">
    <div class="row">
      <div class="col-md-7 content">
        <h3 style="font-family: BebasNeue-regular;color: black;font-size: 40px">KRISTON <br>ROYLE PRESSURE COOKER</h3><br>
        <p style="font-family: avenir-book;font-weight: 600">KRISTON ROYALE range of cookware is made from WROUGHT Aluminium material to ensure the food get cooked evenly and quickly.It has specially designed handles for ease of operations.It comprises of responsive safety value to ensure safe cooking.</p><br><br>
         <button class="btn btn-danger" style="font-family: Gilroy-Heavy;letter-spacing: 1.5px;font-size: 17px"><a>Read more</a></button>   
      </div>
      <div class="col-md-4" style="margin-left: 5% ">
        <img src="assets/second.png" class="prrd" width="130%" height="auto" style="margin-top: 17%">
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-lg-4">
      <img class="bd-placeholder-img " style="background-size: cover;"src="assets/product3.png" width="140" height="140"  src="../assets/second.png" preserveAspectRatio="xMidYMid slice" focusable="true" role="img" aria-label="Placeholder: 140x140">
      <h2 id="candidate">SURYA INTECH</h2>
      <p>Leading Pressure Cooker</p>
      <p><a class="btn btn-info" href="#" role="button" onclick="addItem()" action="/cart">Add item &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="bd-placeholder-img" style="background-size: cover;"src="../assets/product4.png" width="140" height="140"  src="../assets/second.png" preserveAspectRatio="xMidYMid slice" focusable="true" role="img" aria-label="Placeholder: 140x140">
      <h2 id="candidate">SRI CHAKRA</h2>
      <p>Leading Pressure Cooker</p>
      <p><a class="btn btn-info" href="#" role="button" onclick="addItem1()">Add item &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="bd-placeholder-img" style="background-size: cover;"src="../assets/product5.png" width="140" height="140"  src="/second.png" preserveAspectRatio="xMidYMid slice" focusable="true" role="img" aria-label="Placeholder: 140x140">
      <h2 id="candidate">KRISTON</h2>
      <p>Leading Pressure Cooker</p>
      <p><a class="btn btn-info" href="#" role="button" onclick="addItem2()">Add item &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
  </div>

  <section style="padding-top: 60px;padding-bottom: 60px;margin-top: 15%;">
    <img src="assets/final.png" width="100%" height="300%" class="img_product">
    <h4 style="padding-bottom:75px;color: white;text-align: center;z-index: 1;margin-top: -20%;font-family: Gilroy-ExtraBold">CHANCE TO WIN A PRESSURE COOKER</h4>
    <h1 style="text-align: center;color: black; font-family: Futura-Bold;font-weight: normal;letter-spacing: 4px;word-spacing: 8px">QUIZ OF THE MONTH</h1>
    <button class="btn btn-light" style="margin-top:1%;margin-left: 45%;font-family: Gilroy-ExtraBold"><a href="quiz.html"></a>TRY NOW</button>
  </section>

  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">COMPANY AWARDS</h1>
    <p class="lead">Quickly build an effective pricing table for your potential customers with this Bootstrap example. It’s built with default Bootstrap components and utilities with little customization.</p>
  </div>
  
  <div class="container">
    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Free</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ mo</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Best pressure
              cooker
         manufacture 2019</li>
         <li>Best pressure
          cooker
     manufacture 2019</li>
            
          </ul>
          <button type="button" class="btn btn-lg btn-block btn-outline-primary">Read more</button>
        </div>
      </div>
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Pro</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$15 <small class="text-muted">/ mo</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Best pressure
              cooker
         manufacture 2019</li>
         <li>Best pressure
          cooker
     manufacture 2019</li>
            
          </ul>
          <button type="button" class="btn btn-lg btn-block btn-primary">Read more</button>
        </div>
      </div>
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Enterprise</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$29 <small class="text-muted">/ mo</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Best pressure
              cooker
         manufacture 2019</li>
         <li>Best pressure
          cooker
     manufacture 2019</li>
          </ul>
          <button type="button" class="btn btn-lg btn-block btn-primary">Read more</button>
        </div>
      </div>
    </div>
  
    
  </div>

  
  </div>
</section>